*{
    box-sizing: border-box;

}

html{
    background-color:black;
    color:white;
    background-image: url("blueweb.png");
}

.contentContainer{
    height: 100vh;
    display: flex;
    /*border : 5px solid red;*/
    width: 100%;
}

.sidebar{
    /*border : 5px solid yellow;*/
    width: 17%;
    position: fixed;
    background-color: black;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
    border-radius: 10px;
    margin-top: 12em;
    margin-left: 3em;
    text-align: center;

}


.sidebarItem{
    height: 10vh;
    /*border : 5px solid white;*/
    margin: .5em .5em .5em .5em;
}

.text{
    font-family: consolas,sans-serif;
    font-size: 2em;
    color: white;
    font-weight: bold;
}

a:link{
  text-decoration: none;
}

a:visited{
  color:green;
  text-decoration: none;
}

.weaponLibrary, .memberLibrary, .teamLibrary{
    display: flex;
    flex-wrap: wrap;
    /*border : 5px solid green;*/
    margin: 0 0 0 20em;
}

.weaponLibraryItem, .memberLibraryItem, .teamLibraryItem{
    /*border : 5px solid lightcoral;*/
    width : 30%;
    margin: 1em 1em 1em 1em;
    text-align: center;
}

.teamLibraryItem{
    width : 45%;
}


.memberLibraryItem, .weaponLibraryItem, .teamLibraryItem{
    color:cyan;
    background-color: black;
    opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
    border-radius: 10px;
}

img{
   opacity: 1;
   filter: alpha(opacity=100); /* For IE8 and earlier */
}
.memberLibraryItem:hover, .weaponLibraryItem:hover, .teamLibraryItem:hover{
    opacity: 0.7;
    background-color: white;
    filter: alpha(opacity=70); /* For IE8 and earlier */
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    -webkit-box-shadow:0 0 20px white;
    -moz-box-shadow: 0 0 20px white;
    box-shadow:0 0 20px white;
    color:blue;
}

.js-nav-link:hover{
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    -webkit-box-shadow:0 0 20px green;
    -moz-box-shadow: 0 0 20px green;
    box-shadow:0 0 20px green;
}

.searchContainer{
    /*vertical-align: middle;*/
    text-align: center;
    margin-right:
}
.search{
    margin: 2em 0 2em 0;
    width: 400px;
    height: 50px;
    font-size: 2em;
}

/*https://www.sanwebe.com/2014/08/css-html-forms-designs*/
/*check number 8*/
